h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
body {
    background-color: blanchedalmond;
}
nav {
    
    text-align: center; 
}
header {
    background-color: steelblue;
}







h3 {
    text-align: center;
    background-color: steelblue;
}